.Caja-Contenedor{
    width: 1300px;
    height: 300px;;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: monospace;
    
}

.Caja-Contenedor div{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: #310F40;
    margin-right: 50px;
    font-size: 50px;
    text-align: center;
    margin: inherit;
}

.Caja-Contenedor p{
    margin: auto;
    margin-top: 15px;
    font-size: 50px;
    text-decoration:inherit;
    color: #fff;
}

.Caja-Contenedor2{
    width: 1400px;
    height: auto;
    
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
}


.Caja-Contenedor2 div{
    width: 100px;
    height: 100px;
    margin-top: 25px;
    border: 1px solid black;
    background-color: #310F40;
    margin: auto;
}

.Caja-Contenedor2 p{
    margin: auto;
    margin-top: 15px;
    font-size: 50px;
    text-decoration:inherit;
    color: #fff;
}

/*--------------------------------------------------------*/

.Cajas{
    width: 1300px;
    height: auto;
    border: 1px solid black;
    margin: auto;
    margin-top: 30px;
}

.Caja1{
    height: auto;
    width: 650px;
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    float:right;  
}
.Caja1 div{
    background-color:#D9644A;
    width: 600px;
    height: 100px;
    background-color:#D9644A;
    margin-bottom: 7px;
    margin-top: 8px;
    margin-left: 25px;
    margin-bottom: 7px;
}
.Caja1 p{
    margin-top: 27px;
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-family:monospace;
}
.Caja2{
    height: auto;
    width: 650px;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}
.Caja2 div{
    width: 600px;
    height: 100px;
    background-color: #9AD2D9;
    margin-top: 8px;
    margin-left: 25px;
    margin-bottom: 7px;
}
.Caja2 p{
    margin-top: 27px;
    text-align: center;
    color:  #fff;
    font-size: 48px;
    font-family:monospace;
}
